table {
    border: 2px, solid gold;
}
td:hover{
    background-color: aqua;
    color: blue;
}
tr,th {
    background-color: green;
    color: black;
}
tr,td {
    background-color: green;
    color: blueviolet;
}