body {
    background-color: rgb(245, 245, 108);
    font-size: 1.5em;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color:black;
    
}
form input[type="text"], form input[type="email"] {
    width: 20%;
    margin: 2px;
    border: 2px solid palevioletred;
    border-radius: 7px;
}